.container-cart{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-cart__item{
    align-items: center;
    border-bottom: 1.8px solid $gray;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    max-width: 1200px;
    padding-bottom: 1rem;
}

.container-cart__image{
    width: 200px;
}

// .container-cart__details span{
//     display: inline-block;
//     // width: 1rem;
//     margin: 0 1rem;
// }

img{
    width: 100%;
}

// Subtotals


.cart__subtotals{
    display: grid;
    margin-top: 2rem;
}

.cart__subtotals > *{
    padding: 5px;
}

.cart__value{
    display: flex;
    justify-content: space-between;
    width: 14rem;
}

.button__wrapper{
    justify-self: center;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 2rem 0;
    padding: 0.5rem;
    text-align: center;
    transition: 0.2s linear;
    width: 10rem;

    &:hover{
        background-color: $white;
        color: $primary;
    }

}

.delete{
    fill: #ec4646;
    cursor: pointer;
    transition: 0.3s all;

    &:hover{
        fill: darken(tomato, 10%);
    }
}

.number__products{
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.2rem;
}

.adding,.removing{
    border: 2px solid darken($gray, 60%);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}

.adding span, .removing span{
    text-align: center;
    display: block;
    font-size: 2.1rem;
    color: darken($gray, 60%);
    
}

.control__products{
    display: flex;
    align-items: center;
}