.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    position: relative;
    
    // DESKTOP
    @media screen and (min-width: 1024px){
            flex-direction: row;
            align-items: flex-start;
            width: 950px;
            // width: 900px;
    }

    @media screen and (min-width: 1215px){
        width: 1260px;
    }

}


